body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background: #191816;
}

a {
  color: #9fa4ce;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  padding-inline: 3px;
  border-radius: 5px;
}

a:hover {
  color: #b4bae8;
  text-decoration: underline;
}

* {
  color: #e8e1cc;
}

@media (max-width: 800px) {
  body {
    width: 80vw;
  }

  br {
    display: none;
  }
}
