@media (max-width: 1024px) {
    ol {
        padding: 0;
        padding-left: 20px;

        li {
            margin-right: 30px;
            margin-bottom: 30px;
            padding: 10px;
            padding-block: 40px;

            h2 {
                font-size: 40px;
                margin: 0;
            }
        }
    }
}

@media (min-width: 1024px) {
    ol {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 20px;

        li {
            margin-right: 30px;
            margin-bottom: 30px;
            padding: 10px;
            padding-block: 40px;
            width: 45%;

            h2 {
                font-size: 40px;
                margin: 0;
            }
        }
    }
}
