@media (min-width: 1024px) {
    q {
        border: 1px black solid;
        display: inline-block;
        min-width: 300px;
        width: 41%;
        padding: 15px;
        font-size: 15px;
        margin-top: 15px;
    }
}

@media (max-width: 1024px) {
    q {
        border: 1px black solid;
        display: inline-block;
        min-width: 300px;
        width: 80%;
        padding: 15px;
        font-size: 15px;
        margin-top: 15px;
    }
}

@media (max-width: 350px) {
    q {
        border: 1px black solid;
        display: inline-block;
        min-width: 200px;
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }
}
