* {
    font-family: "Playfair Display", serif;
}

h1 {
    font-weight: 800;
    font-size: 45px;
    margin-block: 10px;
}

p {
    font-size: 18px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }

    q {
        font-size: 13px !important;
    }
}
